@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
box-sizing: border-box;
margin: 0;
padding:0;
}
html {
/* background-image: url(img/background.jpeg); */
background-repeat:no-repeat;
background-size: contain;
background: linear-gradient(-45deg, #db9a87, #6b57b3, #7d9eaa, #23d5ab);
background-size: 400% 400%;
animation: gradient 15s ease infinite;
height: 100vh;
/* background: linear-gradient(-45deg, #ea6b44, #daea72, #56c3a1, #23d5ab);
background-size: 400% 400%;
animation: gradient 15s ease infinite; */

}
main
{ 
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.darkMode {
background-color: black;
color: white
}

.titreMenu {
display: flex;
justify-content: center;
}
#myBtnContainer {
display: flex;
justify-content: center;
padding-top: 20px;
padding-bottom: 20px;
}
h2 {
background-color: #0088a9;
border-radius: 20px;
font-family: Montserrat;
text-align: center;
padding: 20px;
font-size: 20px;
margin-top: 50px;
}

li, a, button {
font-family: "Montserrrat", sans-serif;
font-weight: 500;
font-size: 16px;
color: #edf0f1;
text-decoration: none;
}

/* tout ceci est la partie du haut */

header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 10%;
background-color: rgba(0, 0, 0, 0.50);
margin: 0 auto;
}

.logo {
cursor:pointer;
margin-left: -60px;
}

.type {
    box-shadow: 0 10px 10px black;
    margin-top: 50px;
    border: 10px solid white;
    border-style: dotted;
    border-left-color: black;
    border-top-color: black;
}

.menuNav {
list-style: none;

}
.menuNav, li {
display: inline-block;
padding: 0px 20px;
}
.menuNav li a {
transition: all 0.3s ease 0s;
}

.menuNav li a:hover {
color : #0088a9
}
.contact {
padding: 5px 15px;
background-color: rgba(0,136,169,1 );
border: none;
border-radius: 50px;
cursor: pointer;
transition: all 0.3s ease 0s;
}

.contact:hover {
background-color: rgba(0,136,169,0.8);
}

video {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 2vw;
width: 70%;
border-image: linear-gradient(#ffe3dd, #ffb9d9, #c6d8ff) 1;
animation: rotate 2.5s ease-in infinite;
border-radius: 500px;
box-shadow: 0 20px 20px black;

display: none;
}

video:hover {
transform: scale(0.95);
}

h3 {
font-size: 50px;
color: rgb(0, 0, 0);
}

article
{ 
background-color: hsl(0, 22%, 58%);
padding: 30px;
padding-top: 10px;
border: 5px rgba(246, 143, 0, 0.644);
border-radius: 10px;
min-width: 50px;
max-width: 300px;
margin: 10px;
}

.bouffe
{
display: block;
margin-top: 25px;
margin-bottom: 20px;
margin-left: auto;
margin-right: auto;
width: 75%;
border-radius: 50px;
border: 1px solid black;
box-shadow: 0 5px 5px black;
}

@keyframes rotate {
50% {
border-image: linear-gradient( 360deg,#ff512f, #dd2476, #1c64ff) 1;
}
}

.price {
font-size:x-large;
margin: 20px;
text-align: center;
border: 2px solid black;
border-style: dotted;
}

.buttons {
background-color: blue;
color: white;
padding: 10px;
border-radius: 20px;
}

.darkModeButton {
background-color: black;
padding: 5px;
border-radius: 5px;
margin-left: -50px;
}


.btn {
background-color: rgb(175, 120, 242);
padding: 5px;
margin: 0 5px;
border-radius: 10px;


}
.foodName {
font-family: fantasy;
}

.buttons:hover {
cursor: pointer;
}

@keyframes move {
100% {
transform: translate3d(0, 0, 1px) rotate(360deg);
}
}

@keyframes gradient {
0% {
background-position: 0% 50%;
}
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}
.basket {
width: 140px;
position: relative; 
background-color: rgb(0, 0, 0);
margin: 0 auto;
padding: 10px;
color: white;
border: 2px solid rgb(255, 255, 255);
border-radius: 20px;
box-shadow: 0 10px 10px black;
}
.add {
padding: 5px;
margin: 5px 0;
color: white;
background-color: rgb(52, 52, 255);
border-radius: 10px;
}
#pan {
margin: 0 auto;
}
#list {
color: white;
background-color: black;
padding: 8px;
}
.command {
color: white;
background-color: green;
padding: 5px;
border-radius: 10px;
}
th, td {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin:5px;
}
td {
    color: rgb(0, 255, 0);
}