/* @import url('https://fonts.googleapis.com/css2?family=Creepster&family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

html {
    background-color: #f9c9a7;
    background-image: linear-gradient(309deg, #f9c9a7 0%, #F7CE68 100%);

}

h1 {
    position: absolute;
    width: 15vw;
    /* font-family: 'Luckiest Guy', cursive; */
    font-family: 'Knewave', cursive;

}

.weird  {
    font-family: 'Creepster', cursive;
    color: black;
    letter-spacing: 2px;
}

h3 {
    font-size: 50px;
    color: black;
}

 */
